*{
    color: white;
}

#loja{
    display: flex;
    justify-content: center;
    margin-top: 300px;
    font-size: 40px;
}

.lol{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.fortnite{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.valorant{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.img_skin_lol{
    height: 400px;
    width: 240px;
    margin-left: 50px;
    border: 1px solid white;
}

.img_skin_lol:hover{
    border: 1px purple solid;
    box-shadow: 0 0 13px purple;
    transition: 0.5s;
}

.karma_ingame{
    margin-top: 50px;
}

.comprar{
    background-color: white;
    width: 90px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    margin-top: 15px;
    border-radius: 4px;
    border: none;
}

.comprar:hover{
    box-shadow: 0 0 5px white;
}

.img_skin_fort{
    height: 400px;
    width: 240px;
    margin-left: 50px;
    border: 1px solid white;
}

.img_skin_fort:hover{
    border: 1px solid goldenrod;
    box-shadow: 0 0 13px goldenrod;
    transition: 0.5S;
}

.img_skin_val{
    height: 400px;
    width: 700px;
    margin-left: 25px;
    border: 1px solid transparent;
}

.img_skin_val:hover{
    border: 1px solid rgb(255, 0, 64);
    box-shadow: 0 0 13px rgb(255, 0, 64);
    transition: 0.5S;
}

h1{
    color: white;
}

.num_cartao{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 220px;
}
