@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');


*{
    margin: 0px;
    padding: 0px;
    font-family: Righteous;
}

body{
    background-image: url(https://i.pinimg.com/originals/86/f4/fb/86f4fbea894c50d230d827d378ffbd5c.gif);
    background-color: #767676;
}

.cabecalho{
    display: flex;
    justify-content: start;
    align-items: center;
    background-color: #474645;
    border-bottom: rgb(102, 102, 102) solid 2px;

    font-size: 20px;

    width: 100%;
    height: 60px;
}

.item{
    margin-left: 30px;
}

.item a{
    text-decoration: none;
    color: white;
}

.item a:hover{
    text-shadow: 0 0 5px white;
}

.all_search{
    display: flex;
}

.login{
    margin-left: 660px;
    display: flex;
}

.login a{
    text-decoration: none;
}

.sigin_steam{
    border-radius: 4px;
    border: unset;
    background-color: white;
    padding: 10px 18px;
    color: black;
    display: flex;
    align-items: center;
}

.sigin_steam:hover{
    background-color: white;
    box-shadow: 0 0 5px white;
}

.riot{
    margin-left: 10px;
    display: flex;
    background-color: white;
    color: black;
    justify-content: center;
    align-items: center;

    font-size: 12px;

    border: none;
    border-radius: 4px;
}

.riot:hover{
    background-color: white;
    box-shadow: 0 0 5px white;
}

.league{
    margin-right: 5px;
}

.profile{
    background-color: white;
    border-radius: 50%;
}

.slide{
    display: flex;
    justify-content: center;
    margin-right: 300px;
    font-size: 32px;
    color: white;
}

.slider {
    display: block;
    height: 293px;
    width: 600px;
    margin: auto;
    margin-top: 20px;
    position: relative;
    margin-left: 250px;
}

.slider li {
    list-style: none;
    position: absolute;
}

.slider img {
    height: 100%;
    width: 140%;
    vertical-align: top;
}

.slider input {
    display: none;
}

.slider label {
    background-color: transparent;
    border: 3px rgb(255, 255, 255) solid;
    border-radius: 50%;
    bottom: 10px;
    cursor: pointer;
    display: block;
    height: 10px;
    position: absolute;
    width: 10px;
    z-index: 10;
}

.slider label:hover{
    background-color: white;
}

.slider li input:checked ~label{
    background-color: white;
}

.slider li:nth-child(1) label {
    left: 15px;
    bottom: 12px;
}

.slider li:nth-child(2) label {
    left: 45px;
    bottom: 10px;
}

.slider li:nth-child(3) label {
    left: 75px;
    bottom: 13px;
}

.slider img {
    opacity: 0;
    visibility: hidden;
}

.slider li input:checked ~ img {
    opacity: 1;
    visibility: visible;
    z-index: 10;
}

.anivia{
    box-shadow:  0 0 20px rgb(248, 53, 199);
    transition: 0.7s;
}

.friday{
    box-shadow: 0 0 20px rgb(52, 147, 202);
    transition: 0.7s;
}

.draven{
    box-shadow: 0 0 20px rgb(29, 201, 101);
    transition: 0.7s;
}

footer{
    margin-top: 90px;
    background-color: #474645;
}

h2{
    display: flex;
    justify-content: start;
    padding-left: 10px;
}

h1{
    color: white;
}

.contato{
    margin-top: 20px;
    padding-left: 10px;
    display: flex;
    justify-content: start;
}

.info{
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
}

.digite{
    margin-left: 50px;
    display: flex;
    align-items: center;
}

.diga{
    width: 250px;
    height: 25px;
}

.digitado{
    width: 280px;
    height: 450px;
    background-color: white;
    margin-left: 50px;
    margin-bottom: 25px;
    margin-top: 20px;

    border-radius: 4px;
}

.digitado:hover{
    box-shadow: 0 0 10px greenyellow;
}

.enviar{
    margin-left: 5px;
    width: 50px;
    height: 30px;
    background-color: white;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
}

#valor_digitado{
    margin-left: 5px;
    margin-top: 3px;
    margin-bottom: 3px;

    border-radius: 3px;
    
    display: flex;
    align-items: start;
}

.titulo{
    display: flex;
    justify-content: center;
}

#digitando{
    margin-top: 435px;
}

.online{
    display: flex;
    justify-content: end;
    margin-top: -450px;
    margin-left: 1050px;
    width: 280px;
    height: 450px;
    background-color: white;
    border-radius: 5px;
}

.online:hover{
    box-shadow: 0 0 10px greenyellow;
}

.text_online{
    margin-bottom: 20px;
}

.offline{
    display: flex;
    justify-content: center;
    margin-top: 180px;
    margin-right: 120px;
}  

.diga textarea:focus, input:focus, select:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
} 

.num_cartao{
    height: 450px;
    width: 190px;
    margin-left: 600px;
    margin-top: 100px;
    color: white;
}

.num_cartao ~input{
    color: black;
}

.info{
    margin-bottom: 15px;
    padding: 5px 15px;
}

.pagar{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: -200px;
}

.voltar a{
    color: white;
    text-decoration: none;
}

.voltar{
    display: flex;
    justify-content: center;
}